html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 90px 50px 95px;
}

.header__links-list {
    display: flex;
    gap: 29px;
    align-items: center;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 5px;
    font-size: 18px;
    line-height: 1.33;
}

.header__links-list-item:nth-of-type(1) {
    list-style: none;
    padding-left: 0;
}

.header__link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    align-self: center;
}

.header__logo-image {
    max-width: 148px;
    max-height: 105px;
}

.header__address {
    justify-self: end;
    align-items: flex-start;
    width: 240px;
}

/* COVER */

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/cover.jpg) center / cover no-repeat;
    padding: 165px 50px 50px;
    min-height: 757px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    line-height: 1.15;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    align-self: start;
}

.aligned-text_center {
    align-self: center;
}

.aligned-text_right {
    align-self: end;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    word-spacing: 0.8em;
}

.bet-button {
    color: #fff;
    font-family: Raleway, sans-serif;
    background-color: transparent;
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    cursor: pointer;
}

.cover__title,
.cover__description-text {
    color: #fff;
}

.cover__title,
.cover__description-text,
.bet-button {
    z-index: 1;
    text-transform: uppercase;
}

.cover__description-text,
.bet-button {
    font-size: 22px;
    line-height: 1.28;
}

/* LOTS */

.lots {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    padding: 0 24px;
}

.lots__heading,
.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__heading {
    padding: 0 0 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background: center / cover no-repeat;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.card__text {
    font-size: 20px;
}

.card__title,
.card__text {
    position: relative;
    z-index: 1;
    color: #fff;
    line-height: 1.2;
}

.lots__look-more-link {
    align-self: start;
    padding: 30px 0 0 40px;
    font-size: 20px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

/* ABOUT */

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;
    margin-top: 120px;
    padding: 0 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    justify-self: center;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    padding: 136px 0 100px;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
    text-wrap: balance;
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-top: 180px;
    padding: 0 50px 82px;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.footer__menu-list-item {
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
}

.footer__menu-list-item,
.footer__social-list-item {
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__menu-link_active {
    text-decoration: none;
}

/* SHARED */

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.33;
    font-style: normal;
}

.address__link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    white-space: nowrap;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.6;
}

.no-letter-spacing {
    letter-spacing: normal;
}